OPENAI_API_KEY=
REPROCESSAR_FALHAS=false
PROMPT_ENTREVISTA="Analise a essa entrevista de tecnologia e extraia as seguintes informações em formato JSON: OBS: A sua resposta deve ser somente o JSON, sem nenhum outro texto. Mantenha a estrutura JSON exatamente como especificado abaixo: { \"duracao_da_entrevista\": [], \"vaga\": [], \"senioridade\": [], \"tecnologias\": [], \"nome_da_empresa\": [], \"tipo_de_empresa\": [], \"resumo_do_entrevistado\": { \"experiencia\": [], \"tecnologias_utilizadas\": [], \"metodologia_trabalho\": [], \"expectativa_salarial\": [] }, \"resumo_da_entrevista\": [], \"tipo_de_entrevistador\": [] } :\n\n"
OPENAI_MODEL=gpt-4o-mini